@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fa;
}


.navbar {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img{
  width: 30px;
  height: 30px;
}

.logo span {
  font-size: 18px;
  font-weight: 600;
  color: #00296b;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 500;
}

.user-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.container {
  display: flex;
  height: calc(100vh - 70px);
}


.sidebar {
  background: #00296b;
  width: 220px;
  color: #fff;
  padding-top: 25px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  background: #004aad;
}


.main-content {
  flex: 1;
  padding: 40px;
}

.main-content h2 {
  color: #00296b;
  margin-bottom: 25px;
}

.internship-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.internship-card {
  background: #fff;
  padding: 22px 22px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.internship-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.12);
}

.internship-card h3 {
  color: #00296b;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.internship-card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
}


.card-btn {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}


.apply-btn {
  background: linear-gradient(135deg, #007bff, #0056d4);
  color: white;
  box-shadow: 0 3px 7px rgba(0, 91, 255, 0.3);
}

.apply-btn:hover {
  background: linear-gradient(135deg, #0056d4, #0040a8);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 91, 255, 0.4);
}


.applied-btn {
  background: #cfd8e6;
  color: #4a5568;
  cursor: not-allowed;
  border: 1px solid #b0bccf;
}


.view-btn {
  background: white;
  border: 1.8px solid #0066ff;
  color: #0066ff;
  transition: 0.3s;
}

.view-btn:hover {
  background: #0066ff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 91, 255, 0.3);
}

