@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("images/bacground.jpg"); /* tumhari image ka path */
  background-size: cover;       /* poora screen cover kare */
  background-position: center;  /* image center me ho */
  background-repeat: no-repeat; /* repeat na ho */
  height: 100vh;                /* full viewport height */
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 20px;
  color: #1a1a1a;
}

.login-container {
  background: #fff;
  width: 380px;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-container h2 {
  color: #1a1a1a;
  margin-bottom: 5px;
}

.login-container p {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: #f1f3f6;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 25px;
}

.tab-buttons button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #555;
  transition: all 0.3s ease;
}

.tab-buttons button:hover {
  background: #e6f0ff;
  color: #0066ff;
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(0, 102, 255, 0.2);
}


.tab-buttons .active {
  background: #fff;
  color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form {
  text-align: left;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  transition: 0.2s;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-btn {
  width: 100%;
  background: #0066ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.login-btn:hover {
  background: #004ecc;
}

.forgot {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}
